// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #f3f3f3;
  font-family: arial;
  font-weight: lighter;
  padding: 40px;
}

.my_button {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease-in-out;

}

.my_button:hover {
  background: #45b768;
}

.my-form {
  /*padding: 10px;*/
  box-shadow: 3px 3px 12px -2px #bfbfbf;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease;
  color: #dcdcdc;
  }

.my-form:hover {
  box-shadow: 6px 6px 12px -2px #bfbfbf;
}

input[type=text] {
  color: grey;
  display: inline;
  font-size: 16px;
  padding-left: 20px;
}

.my-form::placeholder {
  color: grey;
  display: block;
  font-size: 16px;
  // padding-left: 10px;
  opacity: 0.6;
}
